---
import Layout from '../layouts/Layout.astro'

const services = {
    services: [
        {
            title: 'Business Consulting Services',
            description:
                "Navigate your business journey with expert guidance. Our business consulting services offer tailored solutions to address your challenges and seize opportunities. From strategic planning to process optimization, we're here to help you make informed decisions that drive growth and success.",
        },
        {
            title: 'Social Media Management',
            description:
                "Elevate your online presence effortlessly. Our social media management services empower you to connect with your audience on platforms that matter most. We'll curate engaging content, schedule posts, and interact with followers to build a vibrant online community around your brand.",
        },
        {
            title: 'Graphic Design and Branding',
            description:
                'Capture attention and build recognition. Our graphic design and branding services create visually appealing assets that align with your business identity. From logos to marketing materials, we ensure your brand stands out and communicates its core values consistently.',
        },
        {
            title: 'Website Setup and Optimization',
            description:
                "Establish a strong digital foundation. Our website setup and optimization services create professional, user-friendly websites that cater to your target audience. Whether you're launching your first site or refining an existing one, we ensure your online platform reflects your business effectively.",
        },
        {
            title: 'Bookkeeping and Financial Management',
            description:
                'Stay on top of your finances with ease. Our bookkeeping and financial management services help you maintain accurate records, manage expenses, and plan for financial growth. By taking care of the numbers, we allow you to focus on what you do best – running your business.',
        },
        {
            title: 'Local SEO and Online Visibility',
            description:
                "Be found by those who matter most. Our local SEO services ensure your business appears in relevant online searches within your community. We'll optimize your online profiles, manage reviews, and implement strategies that drive local customers through your doors.",
        },
    ],
}
---

<Layout title="About Three">
    <!-- HERO Section -->
    <section class="bg-gradient-to-tl from-slate-50 to-slate-200">
        <div>
            <div
                id="first-bubble"
                class="animate-bubble absolute inset-y-64 right-12 h-72 w-72 transform rounded-full bg-red-500 mix-blend-multiply blur-lg"
            >
            </div>
            <div
                id="second-bubble"
                class="animate-bubble absolute inset-y-64 right-52 h-72 w-72 rounded-full bg-blue-500 opacity-50 mix-blend-multiply blur-lg"
            >
            </div>
            <div
                id="third-bubble"
                class="animate-bubble absolute inset-y-80 right-32 h-72 w-72 rounded-full bg-green-500 opacity-50 mix-blend-multiply blur-lg"
            >
            </div>
        </div>
        <div
            class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
        >
            <div
                class="max-w-xl text-justify ltr:sm:text-left rtl:sm:text-right"
            >
                <h1 class="text-3xl font-extrabold sm:text-5xl">
                    [Business Name] <br />

                    <strong class="text-back block font-extrabold">
                        Your Local Destination for [Key Offerings]
                    </strong>
                </h1>

                <p class="mt-4 max-w-lg sm:text-xl/relaxed">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Nesciunt illo tenetur fuga ducimus numquam ea!
                </p>

                <div class="mt-8 flex flex-wrap gap-4 text-center">
                    <a
                        href="#"
                        class="block w-full rounded bg-black px-12 py-3 text-sm font-medium text-white shadow hover:bg-gray-300 focus:outline-none focus:ring active:bg-gray-500 sm:w-auto"
                    >
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Mission statement -->
    <section class="bg-white text-black">
        <div
            class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
        >
            <div class="max-w-xl">
                <h2 class="text-3xl font-bold sm:text-4xl">
                    What makes us special
                </h2>

                <p class="mt-4 text-gray-400">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellat dolores iure fugit totam iste obcaecati.
                    Consequatur ipsa quod ipsum sequi culpa delectus, cumque id
                    tenetur quibusdam, quos fuga minima.
                </p>
            </div>

            <div
                class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3"
            >
                {
                    services.services.map((data) => (
                        <div class="flex items-start gap-4">
                            <span class="shrink-0 rounded-lg bg-white p-4">
                                <svg
                                    class="h-5 w-5"
                                    fill="none"
                                    stroke="currentColor"
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                                    <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                                    />
                                </svg>
                            </span>

                            <div>
                                <h2 class="text-lg font-bold">{data.title}</h2>

                                <p class="mt-1 text-sm text-gray-400">
                                    {data.description}
                                </p>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>

<style>
    #second-bubble {
        animation-delay: 2s;
    }
    #third-bubble {
        animation-delay: 4s;
    }
</style>
