---
const pages = [
  {"title": "Home", "link": "/"},
  {"title": "About", "link": "/about"},
  {"title": "Gallery", "link": "/gallery"},
  {"title": "Contact", "link": "/contact"}
]

---

<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
       <img src="/logoipsum.svg" />
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        {pages.map((data) => <a href={data.link} class="mr-5 hover:text-gray-900">{data.title}</a>)}
      </nav>
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">1-800-000-0000
      </button>
    </div>
  </header>